@model LeagueManager.WebUI.ViewModels.EditTeamLeagueRoundsViewModel

@using LeagueManager.WebUI.Helper
@{
    ViewData["Title"] = @Model.Name;
}

<h2>@ViewData["Title"]</h2>

<div class="container-fluid">
    <form name="form" asp-controller="Competition" asp-action="EditTeamLeagueRounds" asp-route-leaguename="@Model.Name">
        <div class="form-group row">
            <label for="rounds" class="col-sm-2 col-form-label">Round:</label>
            <div class="col-sm-10">
                @*<select id="rounds-dropdown" name="rounds" class="form-control" onchange="DoPostBack();"></select>*@
                @Html.DropDownListFor(m => m.SelectedRound, new SelectList(Model.Rounds, "Name", "Name"), new { id = "rounds-dropdown", @class = "form-control" })
            </div>
        </div>
        <div class="fixture-full-width">
            <ul class="fixture-match-overview-list">
                @foreach (var round in Model.Rounds)
                {
                    if (round.Name == Model.SelectedRound)
                    {
                        foreach (var match in round.Matches)
                        {
                            <li class="fixture-match-overview-item fixture-striped-list-item">
                                <div class="fixture">
                                    <div class="fixture-row">
                                        <div class="fixture-col fixture-col-namelarge">
                                            <div class="form-group">
                                                @Html.LabelFor(m => match.HomeTeam, "Home team")
                                                @Html.DropDownListFor(m => match.HomeTeam.Name, new SelectList(Model.Teams, "Name", "Name"), "--No team selected--", new { id = $"home-team-{match.Guid}", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="fixture-col fixture-col-status">
                                            <div class="fixture-status">Time not set</div>
                                        </div>
                                        <div class="fixture-col fixture-col-score">
                                            <div class="fixture-score fixture-score--home">
                                                -
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fixture-row">
                                        <div class="fixture-col fixture-col-namelarge">
                                            <div class="form-group">
                                                @Html.LabelFor(m => match.AwayTeam, "Away team")
                                                @Html.DropDownListFor(m => match.AwayTeam.Name, new SelectList(Model.Teams, "Name", "Name"), "--No team selected--", new { id = $"away-team-{match.Guid}", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="fixture-col"></div>
                                        <div class="fixture-col fixture-col-score">
                                            <div class="fixture-score fixture-score--away">
                                                -
                                            </div>
                                        </div>
                                        <div class="fixture-col">
                                            <button data-match-guid="@match.Guid" class="btn btn-primary js-save-match">Save match</button>
                                            <div class="alert alert-success invisible" role="alert" id="alert-success-@match.Guid"></div>
                                            <div class="alert alert-danger invisible" role="alert" id="alert-danger-@match.Guid"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </form>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#rounds-dropdown").change(function () {
                var round = $('#rounds-dropdown').val();
                alert(round);
                document.form.action = "rounds?round=" + round;
                document.form.submit();
            });

            $(".js-save-match").click(function (e) {
                var guid = $(e.target).attr("data-match-guid");
                var homeTeam = $('#home-team-' + guid).val();
                var awayTeam = $('#away-team-' + guid).val();

                updateTeamLeagueMatch(
                    "@Model.CompetitionApiUrl",
                    guid,
                    homeTeam,
                    awayTeam,
                    null
                );
            });
        });
    </script>
}