@model LeagueManager.Application.TeamLeagueMatches.Queries.GetTeamLeagueMatchLineupEntry.LineupEntryDto

@{
    var players = ViewData["Players"] as IEnumerable<LeagueManager.Application.TeamCompetitor.Queries.GetPlayersForTeamCompetitor.PlayerDto>;
}

<div class="row edit-lineup-entry">
    <div class="col-3 form-group">
        @Html.LabelFor(m => m.PlayerNumber, "Number")
        @Html.TextBoxFor(m => m.PlayerNumber, new { id = $"number-{Model.Guid}", @class = "form-control"} )
    </div>
    <div class="col form-group">
        @Html.LabelFor(m => m.Player)
        <button type="button" class="btn btn-default fa fa-user-plus create-player" data-toggle="modal" data-team-name="@Model.TeamName" data-target="#playerModal"></button>
        <button type="button" class="btn btn-default fa fa-save js-save-lineup-entry" data-guid="@Model.Guid" data-team-name="@Model.TeamName" data-toggle="tooltip" data-placement="top" title="Save"></button>
        <button type="button" class="btn btn-default fa fa-window-close js-cancel-lineup-entry" data-guid="@Model.Guid" data-team-name="@Model.TeamName" data-toggle="tooltip" data-placement="top" title="Cancel"></button>
        @Html.DropDownListFor(m => m.Player.FullName, new SelectList(players, "FullName", "FullName"), "--Select player--", new { id = $"player-{Model.Guid}", @class = "form-control js-select-player", @data_team_name = $"{Model.TeamName}", @data_guid = $"{Model.Guid}" })
    </div>
</div>