@model LeagueManager.Application.Interfaces.Dto.ISubstitutionDto
@using LeagueManager.Application.TeamCompetitor.Queries.GetPlayersForTeamCompetitor
@{
    var players = ViewData["Players"] as IEnumerable<PlayerDto>;
}

<div class="row edit-goal">
    <div class="col-2 form-group">
        @Html.LabelFor(m => m.Minute)
        @Html.TextBoxFor(m => m.Minute, new { id = $"minute-{Model.Guid}", @class = "form-control" })
    </div>
    <div class="col form-group">
        @Html.LabelFor(m => m.PlayerOut, "Player Out")
        @Html.DropDownListFor(m => m.PlayerOut.FullName, new SelectList(players, "FullName", "FullName"), "--Select player--", new { id = $"player-out-{Model.Guid}", @class = "form-control js-select-player", @data_guid = $"{Model.Guid}" })
    </div>
    <div class="col form-group">
        @Html.LabelFor(m => m.PlayerIn, "Player In")
        @Html.DropDownListFor(m => m.PlayerIn.FullName, new SelectList(players, "FullName", "FullName"), "--Select player--", new { id = $"player-in-{Model.Guid}", @class = "form-control js-select-player", @data_guid = $"{Model.Guid}" })
    </div>    
</div>
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-default fa fa-save js-edit-save-sub" data-guid="@Model.Guid" data-team-name="@Model.TeamMatchEntryTeamName" data-toggle="tooltip" data-placement="top" title="Save"></button>
        <button type="button" class="btn btn-default fa fa-window-close js-cancel-sub" data-guid="@Model.Guid" data-toggle="tooltip" data-placement="top" title="Cancel"></button>
    </div>
</div>