@model IEnumerable<LeagueManager.Application.Competitions.Queries.GetCompetitions.CompetitionDto>

@{
    ViewData["Title"] = "Competitions";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="list-group">
                @foreach (var competition in Model)
                {
                    <a href="@Url.Action("ViewTeamLeague", new { leagueName = @competition.Name })" class="list-group-item list-group-item-action">
                        <div class="list-group-item d-flex align-items-center">
                            <img src="@competition.Logo" />
                            <h4 class="mb-1">@competition.Name</h4>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>