@model LeagueManager.WebUI.ViewModels.ViewTeamLeagueViewModel
@{
    ViewData["Title"] = @Model.Name;
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-table-tab" data-toggle="pill" href="#v-pills-table" role="tab" aria-controls="v-pills-table" aria-selected="true">Table</a>
                <a class="nav-link" id="v-pills-fixtures-tab" data-toggle="pill" href="#v-pills-fixtures" role="tab" aria-controls="v-pills-fixtures" aria-selected="true">Fixtures</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-table" role="tabpanel" aria-labelledby="v-pills-table-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Team</th>
                                <th scope="col">GP</th>
                                <th scope="col">W</th>
                                <th scope="col">D</th>
                                <th scope="col">L</th>
                                <th scope="col">GF</th>
                                <th scope="col">GA</th>
                                <th scope="col">GD</th>
                                <th scope="col">P</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Table.Items)
                            {
                                <tr>
                                    <td>@item.Position</td>
                                    <td><img src="@item.Team.Logo" style="height:24px; width:24px" /></td>
                                    <td>@item.Team.Name</td>
                                    <td>@item.GamesPlayed</td>
                                    <td>@item.GamesWon</td>
                                    <td>@item.GamesDrawn</td>
                                    <td>@item.GamesLost</td>
                                    <td>@item.GoalsFor</td>
                                    <td>@item.GoalsAgainst</td>
                                    <td>@item.GoalDifference</td>
                                    <td>@item.Points</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-fixtures" role="tabpanel" aria-labelledby="v-pills-fixtures-tab">
                    <div class="form-group row">
                        <label for="rounds" class="col-sm-2 col-form-label">Round:</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(m => m.SelectedRound, new SelectList(Model.Rounds, "Name", "Name"), new { id = "rounds-dropdown", @class = "form-control" })
                        </div>
                    </div>
                    <div id="fixtures">
                        @await Html.PartialAsync("ViewFixtures", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <script>
        function editFixture() {
            $(".js-edit-fixture").click(function (e) {
                var guid = $(e.target).attr("data-match-guid");
                var url = "@Url.Action("EditFixture", new { leagueName = "js-leaguename", guid = "js-guid" })"
                    .replace("js-leaguename", "@Model.Name")
                    .replace("js-guid", guid);

                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (result) {
                        $('#fixture-' + guid).html(result);
                        saveFixture();

                        var date_input = $('input[id="date-' + guid + '"]');
                        var container = $('#fixtures').parent();
                        var options={
                            format: 'mm/dd/yyyy',
                            container: container,
                            todayHighlight: true,
                            autoclose: true,
                          };
                          date_input.datepicker(options);
                    }
                });
            });
        }

        function saveFixture() {
            $(".js-save-match").click(async function (e) {
                var guid = $(e.target).attr("data-match-guid");
                var homeTeam = $('#home-team-' + guid).val();
                var awayTeam = $('#away-team-' + guid).val();
                var date = $('#date-' + guid).val();
                var url = "@Url.Action("UpdateTeamLeagueMatch",
                    new
                    {
                        leagueName = "js-leaguename",
                        guid = "js-guid"
                    })"
                    .replace("js-leaguename", "@Model.Name")
                    .replace("js-guid", guid);

                var result = await updateTeamLeagueMatch(
                    url,
                    homeTeam,
                    awayTeam,
                    date
                );
                $('#fixture-' + guid).html(result);
                editFixture();
            });
        }

        $(document).ready(function () {
            $("#rounds-dropdown").change(function () {
                var round = $('#rounds-dropdown').val();
                var url = "@Url.Action("ViewFixtures", new { leagueName = "js-leaguename", round = "js-round" })"
                    .replace("js-leaguename", "@Model.Name")
                    .replace("js-round", round);

                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (result) {
                        $('#fixtures').html(result);
                        editFixture();
                    }
                });
            });

            editFixture();
        });
    </script>
}