@model LeagueManager.WebUI.ViewModels.TeamMatchViewModel
@{
    ViewData["Title"] = $"{Model.Home.Team.Name} - {Model.Away.Team.Name}";
    var playerUrl = ViewData["GetPlayerBaseUrl"] as string;
}

<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-lineup-tab" data-toggle="pill" href="#v-pills-lineup" role="tab" aria-controls="v-pills-lineup" aria-selected="true">Line up</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-lineup" role="tabpanel" aria-labelledby="v-pills-lineup-tab">
                    @await Html.PartialAsync("ViewMatchLineup", Model.MatchEntries)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function bindClickEvents() {
            $(".js-edit-lineup-entry").click(async function (e) {
                var teamName = $(e.target).attr("data-team-name");
                var guid = $(e.target).attr("data-lineup-player-guid");
                var url = "@Url.Action("EditMatchLineupEntry",
                          new { leagueName = Model.TeamLeague, matchGuid = Model.Guid, teamName = "js-team-name", lineupEntryGuid = "js-guid" })"
                    .replace("js-team-name", teamName)
                    .replace("js-guid", guid);

                await $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (result) {
                        $('#lineup-entry-' + guid).html(result);
                        bindClickEvents();
                    }
                });
            });

            $(".js-select-player").change(async function (e) {
                var url = "@playerUrl" + $(e.target).attr("data-team-name") + "/player/" + $(this).val();
                var guid = $(e.target).attr("data-guid");
                var number = await getPlayerNumber(url);
                $('#number-' + guid).val(number);
            });

            $(".js-save-lineup-entry").click(async function (e) {
                var guid = $(e.target).attr("data-guid");
                var teamName = $(e.target).attr("data-team-name");
                var playerNumber = $('#number-' + guid).val();
                var playerName = $('#player-' + guid).val();
                var url = "@Url.Action("UpdateMatchLineupEntry",
                    new
                    {
                        leagueName = "js-leaguename",
                        matchGuid = "js-match-guid",
                        teamName = "js-team-name",
                        lineupEntryGuid = "js-lineup-entry-guid"
                    })"
                    .replace("js-leaguename", "@Model.TeamLeague")
                    .replace("js-match-guid", "@Model.Guid")
                    .replace("js-team-name", teamName)
                    .replace("js-lineup-entry-guid", guid);

                var result = await updateTeamLeagueMatchLineupEntry(
                    url,
                    playerNumber,
                    playerName
                );
                $('#lineup-entry-' + guid).html(result);
                bindClickEvents();
            });

            $(".js-cancel-lineup-entry").click(async function (e) {
                var guid = $(e.target).attr("data-guid");
                var teamName = $(e.target).attr("data-team-name");
                var url = "@Url.Action("ViewMatchLineupEntry",
                    new
                    {
                        leagueName = "js-leaguename",
                        matchGuid = "js-match-guid",
                        teamName = "js-team-name",
                        lineupEntryGuid = "js-lineup-entry-guid"
                    })"
                    .replace("js-leaguename", "@Model.TeamLeague")
                    .replace("js-match-guid", "@Model.Guid")
                    .replace("js-team-name", teamName)
                    .replace("js-lineup-entry-guid", guid);

                await $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (result) {
                        $('#lineup-entry-' + guid).html(result);
                        bindClickEvents();
                    }
                });
            });
        }

        $(document).ready(function () {
            bindClickEvents();

            $('#createPlayerModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var modal = $(this);
                var teamName = button.data('team-name');
                modal.find('.js-save-player').attr('data-team-name', teamName);
            });

            $('.js-save-player').click(async function (e) {
                var teamName = $(e.target).attr("data-team-name");

                var success = await createPlayer(
                    $('#player-first-name'),
                    $('#player-middle-name'),
                    $('#player-last-name'),
                    "@ViewData["PlayerApiUrl"]/player"
                );

                if (success) {
                    success = await addPlayerToTeamCompetitor(
                        "@Model.TeamLeague",
                        teamName,
                        $('#player-number').val(),
                        constructFullName($('#player-first-name').val(), $('#player-middle-name').val(), $('#player-last-name').val()),
                        "@ViewData["TeamLeagueApiUrl"]/@Model.TeamLeague/competitor/players"
                    );
                }

                if (success) {
                    success = await addPlayerToLineup(
                        $('#player-number'),
                        constructFullName($('#player-first-name').val(), $('#player-middle-name').val(), $('#player-last-name').val()),
                        "@ViewData["MatchBaseUrl"]js-team-name/lineup"
                            .replace("js-team-name", teamName)
                    );
                }

                if (success) {
                    $('#createPlayerModal').modal('toggle');
                    getPlayers($('.js-select-player'),
                        "@ViewData["TeamLeagueApiUrl"]/@Model.TeamLeague/competitor/js-team-name/players".replace("js-team-name", teamName));
                }
            });
        });
    </script>
}