@model LeagueManager.WebUI.ViewModels.TeamLeagueViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Leagues"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(m => m.TeamsToAdd)
                    @Html.ListBoxFor(m => m.TeamsToAdd, new SelectList(Model.AllTeams, "Name", "Name"), new { id = "teams-to-add", @class = "form-control", size = 10 })
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(m => m.SelectedTeams)
                    @Html.ListBoxFor(m => m.SelectedTeamIds, new SelectList(Model.SelectedTeams, "Name", "Name"), new { id = "selected-teams", @class = "form-control", size = 10 })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary add-team">Add Team(s)</button>
                <button type="button" class="btn btn-primary create-team" data-toggle="modal" data-target="#createTeamModal">Create Team</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary remove-team">Remove Team(s)</button>
            </div>
        </div>
        <div class="row">
            <button type="submit" id="create-tournament" class="btn btn-lg btn-success">Create Tournament</button>
        </div>
    </div>

}

<!-- Modal -->
    <div class="modal fade" id="createTeamModal" tabindex="-1" role="dialog" aria-labelledby="createTeamModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createTeamModalTitle">Create Team</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="team-name" class="col-form-label">Team name:</label>
                        <input type="text" class="form-control" id="team-name">
                    </div>
                    <div class="form-group">
                        <label for="team-country" class="col-form-label">Country name:</label>
                        <select id="country-dropdown" name="country"></select>
                    </div>
                    <div class="alert alert-success invisible" role="alert">
                        A simple success alert—check it out!
                    </div>
                    <div class="alert alert-danger invisible" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary js-save-team">Save changes</button>
                </div>
            </div>
        </div>
    </div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.add-team').click(function () {
                var selectedOptions = $('#teams-to-add option:selected');
                for (var i = 0; i < selectedOptions.length; i++) {
                    var option = $("<option />").val(selectedOptions[i].value).html(selectedOptions[i].text);
                    $("[id*=selected-teams]").append(option);
                    $("#teams-to-add option[value='" + selectedOptions[i].value + "']").remove();
                }
            });

            $('.remove-team').click(function () {
                var selectedOptions = $('#selected-teams option:selected');
                for (var i = 0; i < selectedOptions.length; i++) {
                    var option = $("<option />").val(selectedOptions[i].value).html(selectedOptions[i].text);
                    $('#teams-to-add').append(option);
                    $("#selected-teams option[value='" + selectedOptions[i].value + "']").remove();
                }
                sortListbox('teams-to-add');
            });

            let dropdown = $('#country-dropdown');
            dropdown.empty();

            dropdown.append('<option selected="true" disabled>Choose Country</option>');
            dropdown.prop('selectedIndex', 0);

            // Populate dropdown with list of provinces
            $.getJSON("@Model.CountryApiUrl", function (data) {
              $.each(data, function (key, entry) {
                dropdown.append($('<option></option>').attr('value', entry.code).text(entry.name));
              })
            });

            $('.btn-success').click(function () {
                $("#selected-teams option").prop("selected", true);
            });

            $('.js-save-team').click(function (e) {
                var obj = {
                    name: $('#team-name').val(),
                    country: $('#country-dropdown option:selected').text()
                };

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Model.TeamApiUrl",
                    dataType: "json",
                    data: JSON.stringify(obj),
                    success: function () {
                        var teamName = $('#team-name').val();
                        var option = $("<option />").val(teamName).html(teamName);
                        $('#teams-to-add').append(option);
                        sortListbox('teams-to-add');

                        $('.modal .alert-success').text('Team \"' + teamName + '\" has been created');
                        $('.modal .alert-success').removeClass('invisible');
                        $('.modal .alert-danger').addClass('invisible');
                        $('#team-name').val('');
                    },
                    error: function (jqXHR) {
                        $('.modal .alert-danger').text(jqXHR.responseText);
                        $('.modal .alert-danger').removeClass('invisible');
                    }
                });
            });
        });
    </script>
}